// Color variables

$white: #FFFFFF;
// Measurements

$radius: 8px;
$base-font-size: 16;
$t-light: 300;
$t-normal: 400;
$t-medium: 500;
$t-bold: 500;

$not-big: 768px;
$big: 1280px;

$z-menu-mobile: 200;
$z-menu-mobile-close: 300;
$z-search-input-clear: 300;

// @todo prefix breakpoints with $bp-
$tiny-screen: 320px;
$mobile-screen: 700px;
$medium-screen: 768px;
$narrow-screen: 950px;
$wide-screen: 1280px;

$breakpointz: (
  'not-big': $not-big,
  'big': $big
) !default;

@mixin clearfix {
  &::after,
  &::before {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

@mixin visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
  overflow: hidden;
  position: absolute !important;
}

.visually-hidden {
  @include visually-hidden;
}

@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
  &:link {
    color: $normal;
  }

  @if $visited {
    &:visited,
    &:link:visited {
      color: $visited;
    }
  }

  @else {
    &:visited,
    &:link:visited {
      color: $normal;
    }
  }

  @if $focus {
    &:focus {
      color: $focus;
    }
  }

  @else {
    &:focus {
      color: $normal;
    }
  }

  @if $hover {
    &.active:hover,
    &.is-active:hover,
    &.active-trail:hover,
    &.visited:hover,
    &:hover {
      color: $hover;
    }
  }

  @if $active {
    &.is-active,
    &:active,
    &.active-trail {
      color: $active;
    }
  }

  @else {
    &.is-active,
    &:active,
    &.active-trail {
      color: $normal;
    }
  }
}

@mixin media($bp) {
  @media screen and (min-width: #{$bp}) {
    @content;
  }
}

@mixin media-max($bp) {
  @media screen and (max-width: #{$bp}) {
    @content;
  }
}

@mixin background-image($file-name, $position: 50% 50%, $color: transparent) {
  background: url('/assets/images/#{$file-name}') no-repeat $position $color;
}